<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->

  <arg name="robotino" default="false"/> 
  <arg name="turtlebot" default="false"/>
  <arg name="tartalo" default="false"/>
  <arg name="rviz" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find gazebo_utils)/models:$GAZEBO_MODEL_PATH"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_utils)/worlds/third_floor.world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <!-- more default parameters can be changed here -->
  </include>


  <group if="$(arg robotino)">
    <!-- Run transforms -->
    <!-- param name="tf_prefix" value="robotino"/-->
    <include file="$(find robotino_description)/launch/robotino_description.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model robotino -param robot_description -x 11.7 -y -4.2 -Y 3.1416"/>

    <!-- Visualize Rviz -->
    <group if="$(arg rviz)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gazebo_utils)/rviz/robotino.rviz" />
    </group>
  </group>

  <group if="$(arg turtlebot)">
    <!-- Run transforms -->
    <!-- param name="tf_prefix" value="robotino"/-->
    <include file="$(find turtlebot_description)/launch/turtlebot_description.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model mobile_base -param robot_description -x 11.7 -y -4.2 -Y 3.1416"/>
    
    <!-- Visualize Rviz -->
    <group if="$(arg rviz)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gazebo_utils)/rviz/turtlebot.rviz" />
    </group>
  </group>

  <group if="$(arg tartalo)">
    <!-- Run transforms -->
    <!-- param name="tf_prefix" value="robotino"/-->
    <include file="$(find tartalo_description)/launch/tartalo_description.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model tartalo -param robot_description -x 11.7 -y -4.2 -Y 3.1416"/>
    
    <!-- Visualize Rviz -->
    <group if="$(arg rviz)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gazebo_utils)/rviz/tartalo.rviz" />
    </group>
  </group>
  
</launch>
