<launch>
  
  <!-- Base drivers -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!-- RGB Camera -->
  <include file="$(find turtlebot_bringup)/launch/astra_rgb.launch">
  </include>

  <!-- RPLIDAR Laser -->
  <include file="$(find turtlebot_bringup)/launch/rplidar.launch"/>

</launch>
