<?xml version="1.0" ?>
<model>
    <name>Third_floor</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Igor Rodriguez</name>
        <email>igor.rodriguez@ehu.eus</email>
    </author>
    <description>Third floor of the Computer Engineering Faculty (UPV/EHU).</description>
</model>
