<?xml version="1.0" ?>
<model>
    <name>First_floor</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
         <name>Igor Rodriguez</name>
        <email>igor.rodriguez@ikasle.ehu.eus</email>
    </author>
    <description>First floor of the Computer Engineering Faculty (UPV/EHU).</description>
</model>
